click==8.1.8
gym==0.22.0
matplotlib==3.10.0
numpy==1.24.4
pandas==2.0.3
Pillow==11.1.0
protobuf==3.20.3
python-dateutil==2.9.0.post0
PyYAML==6.0.1
sacred==0.8.7
scipy==1.15.1
six==1.17.0
tensorboard-logger==0.1.0
torch==2.5.1
torchvision==0.20.1
